<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
{% load staticfiles %}
</head>
<br>
<body  background="{% static 'images/team.jpg' %}">
<style>
        body{
            text-align: center;
            background-size: cover;
            background-repeat:no-repeat;
        }
    </style>

{% include 'title.html' %}
{% include 'menu.html' %}
<br><br><br>
<table align="center">
    <tr><th><center><font size="8" color="#00ffff">Mahesh Software Developments</font></center></th></tr>
    <tr><th><center><font size="5" color="#00ffff">near to om sri sai grammar high school,</font></center></th></tr>
    <tr><th><center><font size="5" color="#00ffff">uppal,</font></center></th></tr>
    <tr><th><center><font size="5" color="#00ffff">Hyderabad,</font></center></th></tr>
    <tr><th><center><font size="5" color="#00ffff">500031,</font></center></th></tr>
    <tr><th><center><font size="5" color="#00ffff">Mobile No. : 9398326287</font></center></th></tr>
</table>
<br><br><br>
{#{% include 'gd_home/footer.html' %}#}

</body>
</html>


