<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Faculty Panel</title>
</head>
<body  background="{% static 'images/plane.jpg' %}">
<center><h1 style="color: aqua">Welcome to Faculty panel</h1></center>

<style>
        body{
            text-align: center;
            background-size: cover;
            background-repeat:no-repeat;
        }
    </style>
                 {% for x in fdata %}

                     <h1 align="left" style="color:orange">
                         ID NUMBER: {{x.Id_Number }}<br>

                         NAME: {{ x.Faculty_Name}}
                     </h1>
         {% endfor %}

<table align="center" border="2">
    <tr>
        <th width="400"><h1><a href="{% url 'viewfeedback' %}" >view feedbacks</a></h1></th>
        <th width="400"><h1><a href="{% url 'downloadfeedback' %}" >Download feedbacks</a></h1></th>
    </tr>
        <tr>

            <th colspan="2">
                <h3><a href="{% url 'logoutf' %} "> LogOut</a></h3>
            </th>
        </tr>
    </form>
</table>
</body>
</html>