{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        **{margin: 0px;padding: 0px;}
        .title{font-size: 60px;color:orangered;font-family: Algerian;}
        {#{background-color: blanchedalmond;height: 2px;}#}
    </style>
</head>
<body>
<table align="center"  >
    <tr>
        <th width="100"></th>
        <th width="30"></th>
       <th><h1 class="title">Online Feedback System</h1></th>
    </tr>
</table><br>


</body>
</html>